body {
	background-color: #fff;
	color: #333;
	font-family: 'Calibri', sans-serif;
	font-size: 12px;	
}

a {
	color: #315f7a;
	text-decoration: none;
}

a:hover {
	color: #333;
}

.clear {
	clear: both;
}

#header {
	margin: 50px auto;
	width: 600px;
	font-size: 10px;
	text-align: center;
	text-transform: uppercase;
}

#header a {
	margin: 0 10px;
}

h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: -5px;
}

#content {
	position: relative;
	margin: auto;
	width: 660px;
	height: 650px;
	padding: 0 20px 0 20px;
	background-color: #dfdfdf;
	border: 10px solid #333;
	border-bottom: none;
}

#options {
	position: absolute;
	bottom: 0;
	margin: 20px 0 0 -20px;
	width: 660px;
	padding: 10px 20px 20px 20px;
	background-color: #333;
	color: #f0f0f0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
}

button#generate {
	float: left;
	margin: 15px 20px 0 0;
	background-color: #f0f0f0;
	color: #333;
	border: 2px solid #f0f0f0;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

#checkcontainer {
	float: left;
	margin-top: 10px;
}

input[type=checkbox] {
	display: none;
}

label {
	position: relative;
	padding-left: 25px;
	margin-right: 15px;
}

label.optioncheck:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #f0f0f0;
}

input[type=checkbox]:checked + label.optioncheck:before {
    content: "\2713";
    font-size: 15px;
    color: #333;
    text-align: center;
    line-height: 15px;
    font-weight: bold;
}

label.padlock {
	float: right;
	margin-top: -5px;
}

label.padlockw {
	position: absolute;
	right: -20px;
	top: 45px;
}

label.padlock:before {
	content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 3px;
    background-image: #ff0000;
	background-image: url('images/padlock_open.png');
	background-size: 15px 15px;
}

label.padlockw:before {
	content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 3px;
    background-image: #ff0000;
	background-image: url('images/padlock_open_white.png');
	background-size: 15px 15px;
}

input[type=checkbox]:checked + label.padlock:before {
    content: "";
    background-image: url('images/padlock_closed.png');
}

input[type=checkbox]:checked + label.padlockw:before {
    content: "";
    background-image: url('images/padlock_closed_white.png');
}

#basiccont {
	float: left;
	margin: 10px 0 0 20px;
	height: 300px;
}

#fcHolder {
	float: left;
	margin-top: 20px;
	width: 280px;
	height: 280px;
	background-size: 280px 280px;
	border: 10px solid #333;
}

h2 {
	width: 300px;
	padding: 10px;
	background-color: #333;
	color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

ul#basics {
	padding-left: 15px;
	position: relative;
}

ul#basics li {
	list-style-type: square;
	width: 280px;
	padding: 10px 10px;
	text-transform: uppercase;
	line-height: 12px;
	border-bottom: 1px solid #333;
}

ul#basics li span {
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
}

#species, #power {
	display: none;
}

#subcont {
	clear: both;
	margin: 20px 0 20px 0;
}

h3 {
	position: relative;
	width: 167px;
	padding: 10px;
	background-color: #333;
	color: #f0f0f0;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}

ul#subpos, ul#subneg, ul#subfact {
	position: relative;
	padding: 0;
	margin: 0 15px 0 15px;
	float: left;
	list-style-type: square;
	width: 187px;
}

ul#subpos li, ul#subneg li, ul#subfact li {
	margin: 0 0 0 15px;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	padding: 5px 0;
}